CREATE USER keycloak WITH PASSWORD '{{KC_DB_PASSWORD}}';
CREATE DATABASE keycloak OWNER keycloak;

CREATE USER netbird WITH PASSWORD '{{NB_DB_PASSWORD}}';
CREATE DATABASE netbird OWNER netbird;

CREATE USER midpoint WITH PASSWORD '{{MP_DB_PASSWORD}}';
CREATE DATABASE midpoint OWNER midpoint;
